extends admin_layout

block content
    div
        input(id='answer', class='inactive', type="text", placeholder="Answer Question")
        ul(id='receiver')
    div
        p.center made by 
            a(href='http://matthojo.co.uk') Matthew Harrison-Jones
            |  with node.js and socket.io.